*{
	margin: 0;
	padding: 0;
}
body{
	min-height: 720px;
	font-size: 16px;
	font-family: Arial, Sans-Serif;
}
h1{
	padding: 20px 0;
	font-family: "Times New Roman", Times, Sans-Serif;
}
ul{
	padding-left: 30px;
}
li{
	line-height: 25px;
}